{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block header %}
Login
{% endblock %}
{% block content %}

<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Add custom CSS for the form -->

        {% csrf_token %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} message-box" role="alert" {% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

<img class="center-object" style="width: 800px;" src="{% static 'images/logo/logo.png' %}" >

    <div class="panel center-object">
        <div class="login-container">
            <div class="login-box">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="username" placeholder="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="button">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}