{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block header %}
Confirm your Booking
{% endblock %}
{% block content %}

    <div class="panel">

        <div class="panel">
            <h3>Film:</h3>
            <p>
                <b>{{ showing.film.title }}</b><br />
                Duration: {{ showing.film.duration }} minutes<br />
                Age rating: {{ showing.film.age_rating }}
                {% if showing.film.age_rating == '18' %}
                (Please bring ID with you to verify your age!)
                {% endif %}
            </p>
        </div>

        <div class="panel">
            <h3>Showing:</h3>
            <p>Screen {{ showing.screen.id }}<br />{{ showing.time | date:'j M Y' }} at {{ showing.time | time:'G:i'}}
            </p>
        </div>

        <div class="panel">
            <p>There are currently <b>{{ showing.remaining_tickets }}</b> tickets available for this showing.</p>
        </div>

        <div class="panel">

            <div class="form">
                <form id="payment-form" action="{% url 'payment' showing.pk %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <h3>Payment:</h3>
                    <div class="alert-error">
                        {{ form.non_field_errors }}
                    </div>
                    <table class="form-area">
                        <tr class="form-group">
                            <th>Adult tickets (£<span id="payment_adult_price">{{ adult_price | floatformat:2 }}</span>):</th> <td>{{ form.adult_tickets }}</td>
                        </tr>

                        <tr class="form-group">
                            <th>Student Tickets (£<span id="payment_student_price">{{ student_price | floatformat:2 }}</span>):</th> <td>{{ form.student_tickets }}</td>
                        </tr>
                      
                        <tr class="form-group">
                            <th>Child Tickets (£<span id="payment_child_price">{{ child_price | floatformat:2 }}</span>):</th> <td>{{ form.child_tickets }}</td>
                        </tr>
                      
                        <tr class="form-group">
                            <th>Total Cost:</th> <td>{{ form.total_cost }}</td>
                        </tr>
                 
                        <tr class="form-group">
                            <th>Select Payment Method:</th><td>{{ form.payment_options }}</td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input id="confirm-btn" class="button btn-warning" type="submit" value="Book">
                    </div>
                </form>

            </body>
            {% endblock %}